@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-bg: #131316;
  --primary-border: #232329;
  --primary-text: #ffffff;
  --secondary-text: #797b85;
  --medium-text: #aeb0b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-bg: #131316;
    --primary-border: #232329;
    --primary-text: #ffffff;
    --secondary-text: #797b85;
    --medium-text: #aeb0b6;
    --red-color: #d85040;
  }
}

body {
  color: var(--primary-text);
  background: var(--background);
  margin: 0 auto;
  min-width: 310px;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex-center flex-col;
  }

  .border-primary {
    @apply border-[var(--primary-border)] border-[1px] border-solid ;
  }
}

@layer components {
  .container {
    @apply m-[0_auto] p-[0_20px] max-w-[1500px];
  }
  .page-content {
    @apply m-[0_auto] p-[140px_0px_60px];
  }

  .home-group {
    @apply container !mt-32 text-center !max-w-[460px] lg:!max-w-[1500px] lg:!p-[0_60px];
  }

  .home-title {
    @apply text-3xl font-bold pb-4 lg:!text-[40px] xs:!text-[46px] text-3xl font-bold pb-4 lg:!text-[40px] xs:!text-[46px];
  }

  .home-desc {
    @apply pb-8 text-[var(--secondary-text)] lg:!pb-14;
  }

  .home-items {
    @apply grid grid-cols-1 gap-6 lg:grid-cols-2 xs:grid-cols-3;
  }
}

@layer utilities {
  .box-shadow {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  .button-primary {
    font-size: 18px;
    padding: 15px 55px;
    box-shadow: rgba(255, 255, 255, 0.28) 4px 4px 18px 0px inset,
      rgba(216, 80, 64, 0.5) 0px 0.48175px 2.40875px -0.833333px,
      rgba(216, 80, 64, 0.5) 0px 1.83083px 9.15413px -1.66667px,
      rgba(216, 80, 64, 0.5) 0px 8px 40px -2.5px,
      rgba(216, 80, 64, 0.5) 0px -0.48175px 2.40875px -0.833333px,
      rgba(216, 80, 64, 0.5) 0px -1.83083px 9.15413px -1.66667px,
      rgba(216, 80, 64, 0.5) 0px -8px 40px -2.5px;
    border-radius: 10px;
    background-color: #d85040;
  }

  .mask-border {
    user-select: none;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 7.5%,
      rgb(0, 0, 0) 92.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
