@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-bg: #131316;
  --primary-border: #232329;
  --primary-text: #ffffff;
  --secondary-text: #797b85;
  --medium-text: #aeb0b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-bg: #131316;
    --primary-border: #232329;
    --primary-text: #ffffff;
    --secondary-text: #797b85;
    --medium-text: #aeb0b6;
    --red-color: #d85040;
  }
}

body {
  color: var(--primary-text);
  background: var(--background);
  margin: 0 auto;
  min-width: 310px;
}

@layer utilities {
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1500px;
  }
  .page-content {
    margin: 0 auto;
    padding: 140px 0px 60px;
  }
  .text-balance {
    text-wrap: balance;
  }

  .button-primary {
    font-size: 18px;
    padding: 15px 55px;
    box-shadow: rgba(255, 255, 255, 0.28) 4px 4px 18px 0px inset,
      rgba(216, 80, 64, 0.5) 0px 0.48175px 2.40875px -0.833333px,
      rgba(216, 80, 64, 0.5) 0px 1.83083px 9.15413px -1.66667px,
      rgba(216, 80, 64, 0.5) 0px 8px 40px -2.5px,
      rgba(216, 80, 64, 0.5) 0px -0.48175px 2.40875px -0.833333px,
      rgba(216, 80, 64, 0.5) 0px -1.83083px 9.15413px -1.66667px,
      rgba(216, 80, 64, 0.5) 0px -8px 40px -2.5px;
    border-radius: 10px;
    background-color: #d85040;
  }

  .mask-border {
    user-select: none;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 7.5%,
      rgb(0, 0, 0) 92.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .overview-before::before {
    display: block;
    position: absolute;
    width: 30px;
    background: white;
    aspect-ratio: 1/1;
  }
  .overview-after::after {
    display: block;
    position: absolute;
    width: 30px;
    background: white;
    aspect-ratio: 1/1;
  }
}
